@model ToolRentalSystem.Web.Models.Database.Tool

@{
    ViewBag.Title = "Edit Tool";
}

<h2>Edit Tool</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label asp-for="ToolId" class="control-label"></label>
        <div>@Html.DisplayFor(model => model.ToolId)</div>
    </div>

    <div class="form-group">
        <label asp-for="ToolClassification" class="control-label"></label>
        <div>@Html.DisplayFor(model => model.ToolClassification)</div>
    </div>

    @* <div class="form-group">
        <select asp-for="ClassificationID" class="form-control" asp-items="ViewBag.ToolTypeDropDownList">
            <option value="">-- Select a Tool Type --</option>
        </select>
    </div> *@

    <div class="form-group">
        <label asp-for="ToolBrand" class="control-label"></label>
        <div>@Html.EditorFor(model => model.ToolBrand)</div>
    </div>

    <div class="form-group">
        <label asp-for="TradeName" class="control-label"></label>
        <div>@Html.EditorFor(model => model.TradeName)</div>
    </div>
    
    <div class="form-group">
        <label asp-for="ToolCondition" class="control-label"></label>
        <div>@Html.EditorFor(model => model.ToolCondition)</div>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Save Changes" class="btn btn-default" />
    </div>
}

<div>
    @Html.ActionLink("Back to Tools", "Tools")
</div>