@model ToolRentalSystem.Web.Models.Database.Rental

@{
    ViewBag.Title = "Return Tool";
}

<h2>Return Tool</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        <label asp-for="RentalId" class="control-label">Rental ID</label>
        <div>@Html.DisplayFor(model => model.RentalId)</div>
    </div>

    <div class="form-group">
        <label asp-for="ToolId" class="control-label">Tool ID</label>
        <div>@Html.DisplayFor(model => model.ToolId)</div>
    </div>

    <div class="form-group">
        <label asp-for="UserId" class="control-label">User ID</label>
        <div>@Html.DisplayFor(model => model.UserId)</div>
    </div>

    <div class="form-group">
        <label asp-for="StartDate" class="control-label">Start Date</label>
        <div>@Model.StartDate.Value.ToString("d")</div>
    </div>

    <div class="form-group">
        <label asp-for="DueDate" class="control-label">Due Date</label>
        <div>@Model.DueDate.Value.ToString("d")</div>
    </div>

    <div class="form-group">
        <label asp-for="RentalStatus" class="control-label"></label>
        <div>@Html.EditorFor(model => model.RentalStatus)</div>
    </div>

@*
    <div class="form-group">
        <label asp-for="TradeName" class="control-label"></label>
        <div>@Html.EditorFor(model => model.TradeName)</div>
    </div>
    
    <div class="form-group">
        <label asp-for="ToolCondition" class="control-label"></label>
        <div>@Html.EditorFor(model => model.ToolCondition)</div>
    </div>
    *@
    <div class="form-group">
        <input type="submit" value="Save Changes" class="btn btn-default" />
    </div>
}

<div>
    <a asp-action="Rentals">Back to Rentals</a>
</div>