@model ToolRentalSystem.Web.Models.Database.Tool

@{
    ViewBag.Title = "Tool Details";
}

<h2>Tool Details</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToolId)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ToolId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToolType)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ToolType)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToolBrand)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ToolBrand)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TradeName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.TradeName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToolCondition)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ToolCondition)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToolStatus)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ToolStatus)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToolLastUpdated)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ToolLastUpdated)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ToolUpdatedBy)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ToolUpdatedBy)
            </dd>
        </dl>
    </div>
}

<div>
    @Html.ActionLink("Back to Tools", "Tools")
</div>