@model List<ToolRentalSystem.Web.ViewModels.ToolModel>

@{
    ViewBag.Title = "Tools";
}

<h3>Tools</h3>

<table class="table">
    <thead>
        <tr>
            <th>DetailID</th>
            <th>ClassificationID</th>
            <th>Type</th>
            <th>Brand</th>
            <th>Trade Name</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.DetailID</td>
                <td>@item.ClassificationID</td>
                <td>@item.Type</td>
                <td>@item.Brand</td>
                <td>@item.TradeName</td>
                <td>
                    <a asp-action="EditTool" asp-route-detailid="@item.DetailID">Edit</a> |
                    <a asp-action="ToolDetails" asp-route-detailid="@item.DetailID">Details</a> |
                    <a asp-action="DeleteTool" asp-route-detailid="@item.DetailID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>