@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@model IEnumerable<ToolRentalSystem.Web.Models.Database.Tool>

<!-- 
Datatables scripts and styles
References:
https://datatables.net/
https://www.c-sharpcorner.com/article/using-jquery-datatables-grid-with-asp-net-core-mvc/
 -->
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />  <!-- -->
<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>  <!-- -->
<script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>  <!-- -->

@{
    ViewBag.Title = "Tools";

    var isAuthorized = (await AuthorizationService.AuthorizeAsync(User, "ElevatedRights")).Succeeded;
}

<h3>Tools</h3>

@if (isAuthorized)
{
    <div>
        <a asp-action="AddTool">Add a Tool</a>
    </div>
}

<br />

<table id="tools_table" class="table table-striped table-bordered dt-responsive nowrap">
    <thead>
        <tr>
            <th>ToolID</th>
            <th>Tool Type</th>
            <th>Brand</th>
            <th>Name</th>
            <th>Condition</th>
            @if (isAuthorized)
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ToolId</td>
                <td>@item.ToolClassification</td>
                <td>@item.ToolBrand</td>
                <td>@item.TradeName</td>
                <td>@item.ToolCondition</td>
                @if (isAuthorized)
                {
                    <td>
                        <a asp-action="EditTool" asp-route-toolid="@item.ToolId">Edit</a> |
                        <a asp-action="ToolDetails" asp-route-toolid="@item.ToolId">Details</a> |
                        <a asp-action="DeleteTool" asp-route-toolid="@item.ToolId">Delete</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

<script type="text/javascript" class="init"> 
    // jquery script to initialize datatable structure
    $("#tools_table").DataTable();
</script>