@model IEnumerable<ToolRentalSystem.Web.Models.Database.Tool>

@{
    ViewBag.Title = "Tools";
}

<h3>Tools</h3>

<table class="table">
    <thead>
        <tr>
            <th>ToolID</th>
            <th>Tool Type</th>
            <th>Brand</th>
            <th>Name</th>
            <th>Condition</th>
            <th></th>
        </tr>
    </thead>
    <tbody>list
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ToolId</td>
                <td>@item.ToolClassification</td>
                <td>@item.ToolBrand</td>
                <td>@item.TradeName</td>
                <td>@item.ToolCondition</td>
                <td>
                    <a asp-action="EditTool" asp-route-toolid="@item.ToolId">Edit</a> |
                    <a asp-action="ToolDetails" asp-route-toolid="@item.ToolId">Details</a> |
                    <a asp-action="DeleteTool" asp-route-toolid="@item.ToolId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>